{% extends "panel.html" %}
{%block title%} Crear reparación{% endblock %}
{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
<link rel="shortcut icon" href="../static/img/ryr.ico" type="image/x-icon">
{%endblock%}

{% block contenidoMain %}
    <div class="contenido">
        
        <h3>Agregar reparación</h3>
        
        

        <form method="post" action="/crear_reparacion">
            {% if session['rol'] == 1 %}
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Usuario:</p>
                <select class="form-select form-select-sm" name="txtUser" id="txtUser">
                    {% for usuario in usuarios %}
                    <option value="{{ usuario[0] }}">
                        {{ usuarios_dict[usuario[0]] }}
                    </option>
                    {% endfor %}
                </select><br>
            </div>
            {%else%}
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Usuario:</p>
                <input type="hidden" name="txtUser" value="{{ session['user_id'] }}">
                <h4  class="text-center" > {{session['username'] }}  </h4>
                <!-- Arriba está adaptado. -->
            </div>
            {%endif%}

            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Cliente:</p>
                <select class="form-select form-select-sm" name="txtCliente" id="txtCliente">
                    {% for cliente in clientes %}
                    <option value="{{ cliente[0] }}">
                        {{ clientes_dict[cliente[0]] }}
                    </option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Fecha:</p>
                <input class="fecha col-sm-6" type="date" name="txtFecha" id="txtFecha" required /><br />
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Descripción:</p>
                <textarea class="form-control col-sm-6" name="txtDescripcion" id="txtDescripcion" required></textarea><br>
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Costo:</p>
                <input class="form-control" type="number" name="txtCosto" id="txtCosto" required /><br />
            </div>
            <input type="hidden" name="txtExiste" value="1">
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Estado:</p>
                <select name="txtEstado" id="txtEstado" class="form-control">
                    <option value="Pendiente">Pendiente   </option>
                    <option value="Finalizado">Finalizado </option>
                    <option value="Cancelado">Cancelado   </option> <!--No importa la mayúscula, al discriminar el tipo de estado lo toma bien.-->
                </select>
            </div>
            <input class="btn btn-success mb-3" type="submit" value="Agregar Reparación" />
        </form>
        
        
        
    </div>
    
{%endblock%}