{% extends "panel.html" %}
{%block title%} Crear cliente {% endblock %}
{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
<link rel="shortcut icon" href="../static/img/ryr.ico" type="image/x-icon">
{%endblock%}

{% block contenidoMain %}
    <div class="contenido">
        <div>
        <h3>Agregar cliente</h3>
        </div>
        

        <form method="post" action="/crear_cliente">
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Nombre:</p>
                <input class="form-control col-sm-6" type="text" name="nombre" id="nombre" required /><br />
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Email:</p>
                <input class="form-control col-sm-6" type="email" name="email" id="email" /><br />
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Teléfono:</p>
                <input class="form-control col-sm-6" type="tel" name="telefono" id="telefono" /><br />
            </div>
            <div class="form-group row col-sm-8 mb-2">
                <p class="col-sm-2">Existe:</p>
                <select class="form-select form-select-sm" name="existe" id="existe">
                    <option value="1" selected>Si</option>
                    <option value="0">No</option>
                </select><br>
            </div>
            <input type="hidden" name="id_usuario" value="{{ session['user_id'] }}">
            <input class="btn btn-success mb-3" type="submit" value="Agregar Cliente" />
        </form>
        
        
        
    </div>
    
{%endblock%}