{% extends "panel.html" %}
{%block title%} Usuarios {% endblock %}
{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
<link rel="shortcut icon" href="../static/img/ryr.ico" type="image/x-icon">
{%endblock%}

{% block contenidoMain %}
<div class="contenido">
    <table class="table">
        <h1>Lista de Usuarios</h1>
        <a href="/crear_usuario" class="btn btn-success mb-3">Agregar usuario</a>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rol/Permisos</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario[1] }}</td>
                <td>
                    {% if usuario[3]== 1 %}
                        Admin
                    {% else %}
                        Usuario
                    {% endif %}
                </td>
                <td>
                    {%if usuario[5]== None%}
                        Sin email registrado
                    {%else%}
                        {{ usuario[5] }}
                    {%endif%}
                </td>
                <td>
                    <a href="/edit_usuario/{{ usuario[0] }}" class="btn btn-warning">Editar</a> |
                    <a class="btn btn-danger" onclick="return confirm('¿Desea borrar la reparación?')"
                        href="/borrar/{{ usuario[0] }}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}